/* App.css */

/* Reset básico para garantir que o layout ocupa o ecrã todo */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8fafc;
}

.app-wrapper {
    min-height: 100vh;
}

/* Barra de Navegação */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 1px 50px;
    background-color: #1e293b; /* Azul escuro */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* Menu de Links */
.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-link {
    color: #ffffff; /* Cinza claro */
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s ease;
    padding: 8px 12px;
    border-radius: 6px;
}

/* .nav-link:hover {
    color: #0000ff;
   
} */

/* Área de Conteúdo Principal */
.main-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.actions-cell {
    display: flex;
    gap: 12px;
}

.action-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    transition: all 0.2s;
    color: #94a3b8;
}

.action-icon.edit:hover {
    background-color: #e0e7ff;
    color: #6366f1;
}

.action-icon.delete:hover {
    background-color: #fee2e2;
    color: #ef4444;
}

.clickable-row:hover {
    background-color: #f8fafc;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.logo-img {
  width: 200px;          /* ajuste conforme o tamanho desejado */
  height: auto;
}

/* .logo-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #a855f7;       
}

.logo-text span {
     font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #e5e7eb;       
*/
