*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #610777; /* Fundo sugerido */
    color: #E0E0E0; /* Texto sugerido */
    overflow-x: hidden;
}

button {
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

/* Scrollbar personalizada para o tema Dark */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #122c80;
}
::-webkit-scrollbar-thumb {
    background: #1E90FF;
    border-radius: 4px;
}